<div class="footer">
    <div class="ftr-section links">
        <div class="ftr-link-mod"><a target="_blank" href="/" class="ftr-link">home</a>
        </div>
        <div class="ftr-link-mod"><a target="_blank" href="https://github.com/thetmkay" class="ftr-link">work</a>
        </div>
        <div class="ftr-link-mod"><a target="_blank" href="/resume" class="ftr-link">resume</a>
        </div>
        <div class="ftr-link-mod"><a target="_blank" href="mailto:me@georgenishimura.com" class="ftr-link">email</a>
        </div>

    </div>
    <div class="ftr-section">
        <div class="ftr-title">Built by <a class="link" href="mailto:me@georgenishimura.com">George Nishimura</a>. Copyright 2015. All rights reserved.</div>
    </div>
</div>
