<div class="header">
    <div class="nav-menu">
    <a href="#" class="link nav-menu-trigger"><i class="fa fa-bars"></i><span class="nav-menu-trigger-text">menu</span></a>
    </div>
    <ul class="nav-list">
        <li class="nav-item"><a href="/" class="link nav-link home">home</a>
        </li>
        <li class="nav-item"><a href="/work" class="link nav-link work">work</a>
        </li>
        <li class="nav-item"><a href="/blog" class="link nav-link blog">blog</a>
        </li>
        <li class="nav-item"><a href="/resume" class="link nav-link resume">resume</a>
        </li>
    </ul>
</div>
