<div class="header">
    <ul class="nav-list">
        <li class="nav-item"><a href="http://georgenishimura.com" class="link nav-link home">home</a>
        </li>
        <li class="nav-item"><a href="http://work.georgenishimura.com" class="link nav-link work">work</a>
        </li>
        <li class="nav-item"><a href="http://blog.georgenishimura.com" class="link nav-link blog">blog</a>
        </li>
        <li class="nav-item"><a href="http://resume.georgenishimura.com" class="link nav-link resume">resume</a>
        </li>
    </ul>
</div>
