.error-mod {
	text-align: center;
	padding: 8em;
	color: #aaa;
	background-color: white;
	font-family: 'Open Sans';
}

.error-text {
	margin-top: 2em;
	font-weight: bold;
	position: relative;
	height: 2em;
}
