.footer {
  padding-top: 10px;
	width: 100%;
	font-family: 'Open Sans';
  position: absolute;
  bottom: 0;
  height: 5em;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  padding-bottom: 5em;
  position: relative;
}

.ftr-section {
	width: 100%;
	margin: 0 auto;
	max-width: 600px;
	text-align: center;
}

.ftr-section.links {
  padding-bottom: 1em;
}

.ftr-section .link {
  border: none;
  color:#aaa;
  &:hover {
  color:#ccc;
  border: none;
  }
}


.ftr-title {
	font-size: 10px;
	font-weight: 400;
  display: inline-block;
	.ack & {
		text-align: left;
		font-size: 12px;
	}
}

.ftr-link-mod {
	font-size: 14px;
	display: inline-block;
	// margin-left: 20px;
}

.ftr-link {
	font-weight: 400;
	padding-left: 10px;
}

.ftr-link:hover {
  text-decoration: underline;
}

.ftr-link.border-right {
	border-right: solid 1px #aaa;
	padding-right: 10px;
}

.ack .ftr-link {
	font-weight: 400;
}

@media print {
	.footer {
		display: none;
	}
}
